<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

      

    
        <div class="image"  >
        <img src="../static/images/image.jpeg"  style="height:800px ;width:550px; position: absolute;" >
        </div>
        <div class="form" >
            <div class="heading">sentec registration form</div>
                
                <div class="firstname">First Name <br> <br>
                    <input type="text" style="height: 30px; width: 220px;" >
                </div> 
                <div class="lastname">last name <br> <br>
                    <input type="text" style="height: 30px; width: 220px;">
                </div>
                
                <div class="email">email <br> <br>
                    <input type="text" style="height: 30px; width: 220px;" >
                </div> 
                <div class="phonenumber">phone number <br> <br>
                    <input type="text" style="height: 30px; width: 220px;">
                </div>

                <div class="department">department <br> <br>
                    <input type="text" style="height: 30px; width: 220px;" >
                </div> 
                <div class="year">year <br> <br>
                    <input type="text" style="height: 30px; width: 220px;">
                </div>

                <div class="pastexperience">past experience <br> <br>
                    <textarea name="text" id="" cols="66" rows="10"></textarea>
                </div>


                <div class="domain">domain <br> <br>
                    <input type="text" style="height: 30px; width: 480px; " >
                </div>

                <div class="reason">why you want to become part of this society <br> <br>
                    <textarea name="text" id="" cols="66" rows="10"></textarea>
                </div>

                <div class="button">
                <button type="submit" style="height: 30px; width: 80px; font-size: 15px;">submit</button>
                </div>
                
        
          
    
        </div> 
    


    
    
</body>
</html>